header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust according to your logo size */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4500; /* Adjust hover color */
}
.footer {
    background-color: #333; /* Adjust background color */
    color: #fff; /* Adjust text color */
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 20px;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

.social-media img {
    color: #333;
    width: 30px; /* Adjust icon size */
    margin-left: 10px;
    vertical-align: middle;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

#login-form, #signup-form {
    width: 300px;
    margin-top: 50px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
